.addRecipeForm {
    display: flex;
    justify-content: space-between;
    margin: 50px auto !important;
}

.leftForm {
    width: 70%;
    margin: auto;
}

.formTitle {
    color: #146354;
    margin-top: 40px;
    font-weight: 600;
}

.leftForm>h1 {
    color: #146354;

}

.addArea {
    color: #146354;
    text-decoration: none;
    font-weight: 600;
}

.form-control:focus,
.form-select:focus {
    border-color: #146354 !important;
    box-shadow: 0 0 0 0.25rem rgb(20 99 84 / 25%) !important;
}

.addRecipeButton {
    color: #fff;
    background-color: #D95948 !important;
    border-color: #D95948 !important;
    padding: 10px 100px;
    display: block;
    margin: auto;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(217 89 72 / 50%);
}